.header {
  width: 100vw;
  height: 10vh;
  display: flex;
}

.menu_button {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 20px;
  cursor: pointer;
  z-index: 20;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 6px;
  background-color: rgb(24, 23, 23);
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-10px, -10px);
}

.menu_list_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 0vw;
  height: 100vh;
  z-index: 10;
  background-color: black;
  animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { width: 100vw; }
}

.menu_list_container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  list-style: none;
  color: white;
}

.menu_list_container li {
  padding: 50px;
  font-size: 30px;
  height: 50px;
  cursor: pointer;
}

.menu_list_container a {
  color: white;
}

.menu_list_container li:hover {
  color: #235bc1;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  display: flex;
  width: 30vw;
  height: 10vh;
  left: 60vw;
  padding-top: 10px;
  /* border: 2px solid black; */
}

.header_list li {
  list-style: none;
  display: inline;
  font-size: 20px;
  cursor: pointer;
}

.theme_icon {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 85vw;
  width: 10vw;
  height: 10vh;
}

.theme_icon img {
  width: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 7vh;
  }
  .bar1, .bar2, .bar3 {
    height: 5px;
  }
  .menu_button {
    left: 30px;
  }
  .change .bar3 {
    background-color: white;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .header_list {
    display: none;
  }
}