.header {
  width: 100vw;
  height: 10vh;
  display: flex;
}

.menu_button {
  z-index: 100;
}

i {
  font-size: 25px;
  margin: 30px;
  cursor: pointer;
}

.menu_list_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 0vw;
  height: 100vh;
  z-index: 10;
  background-color: black;
  animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { width: 100vw; }
}

.menu_list_container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  list-style: none;
}

.menu_list_container li {
  padding: 50px;
  font-size: 30px;
  height: 50px;
  cursor: pointer;
  color: white !important;
}

.menu_list_container li:hover {
  color: #235bc1;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  display: flex;
  width: 40vw;
  height: 10vh;
  left: 50vw;
  /* border: 2px solid black; */
}

.header_list li {
  list-style: none;
  display: inline;
  font-size: 20px;
  cursor: pointer;
}

.theme_icon {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 85vw;
  width: 10vw;
  height: 10vh;
}

.theme_icon img {
  width: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .header {
    height: 7vh;
  }
  .change .bar3 {
    background-color: white;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .header_list {
    display: none;
  }
}